.subheading {
  color: var(--Blue-1, #0e33cb);
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.33px;
  text-transform: uppercase;
  width: fit-content;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contactHeading {
  color: var(--Dark-Blue-1, #121d50);
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.contactImg img {
  width: 80px;
}
.label {
  color: var(--Dark-Blue-1, #121d50);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.numbers {
  color: var(--Dark-Blue-2, #090e23);
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.contactChild {
  display: flex;
  gap: 2rem;
  padding: 10px 0;
  border-bottom: 2px dotted black;
}

.contactChild3 {
  display: flex;
  gap: 2rem;
  padding: 10px 0;
}

.contactContainer {
  display: flex;
  gap: 2rem;
}

.formHead {
  color: var(--Dark-Blue-1, #121d50);
  font-family: "Space Grotesk";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.contactRight {
  width: 480px;
  height: 589px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Grey-1, #edf0f3);
}

.name {
  color: var(--Dark-Blue-2, #090e23);
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.33px;
  text-transform: uppercase;
}

input::placeholder {
  color: var(--Grey-2, #5c6c7b);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 53px;
  gap: 3rem;
}

.contactinput {
  background-color: white;
  padding: 15px 40px 15px 20px;
  border-radius: 8px;
}

.contactinput input {
  border: none;
  outline: none;
  color: black;
}

.submit {
  display: inline-flex;
  padding: 18px 54px;
  align-items: flex-start;
  border-radius: 8px;
  background: #1195d6;
  color: var(--White, #fff);
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.71px;
  text-transform: uppercase;
  width: fit-content;
  border: none;
}

.contactLayout {
  width: fit-content;
}

.contentleft {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .contactContainer {
    flex-direction: column;
  }
  .contactRight {
    width: 353px;
    height: 567px;
  }
  .rightContainer {
    padding: 29px;
  }
  .contactHeading {
    font-size: 32px;
  }
  .numbers {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
  }
  .contactRight {
    width: 525px;
    height: 567px;
  }
  .rightContainer {
    padding: 29px;
  }
  .contactHeading {
    font-size: 50px;
  }
  .numbers {
    font-size: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .contactContainer {
    flex-direction: column;
  }
  .contactRight {
    width: 525px;
    height: 567px;
  }
  .rightContainer {
    padding: 29px;
  }
  .contactHeading {
    font-size: 50px;
  }
  .numbers {
    font-size: 30px;
  }
}
